<%# <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search food " aria-label="Search">
       <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> %>
<div class="card-group">
  <div class="card">
  <%# <img src="..." class="rounded float-start" alt="..."> %>
    <img src="/assets/southindian", class="card-img-top" alt="..." , >
    <div class="card-body">
      <h5 class="card-title">South Indian</h5>
      <p class="card-text">The majority of dishes are vegetable- or lentil-based. The hot and spicy dishes are a speciality of the region. Mainly vegetarian dishes are served as part of the cuisine of the region. Rice is the staple food of the region.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
     <%# <%= button_to "add items", class: "btn btn-primary" %> 
    </div>
  </div>
  
  <div class="card">
    <img src="/assets/northimg" class="card-img-top" alt="...",height="631">
    <div class="card-body">
      <h5 class="card-title">North Indian</h5>
      <p class="card-text">North Indian curries usually have thick, moderately spicy and creamy gravies. The use of dried fruits and nuts is fairly common even in everyday foods. .</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    <%# <%= button_to "add items", class: "btn btn-primary" %> 
    </div>
  </div>
  
  <div class="card">
    <img src="/assets/italicfood" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Italic Food</h5>
      <p class="card-text">Italian cuisine has a great variety of different ingredients which are commonly used, ranging from fruits, vegetables, grains, cheeses, meats and fish.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
     <%# <%= button_to "add items", class: "btn btn-primary" %>
      </div>
  </div>
</div>