 <%# <%= render 'home/cuisine' %>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Restaurant ID</th>
      <th>Actions</th>
    </tr>
  </thead>

<tbody>
  <% @cuisine.each do |cuisine| %>
    <tr>
     <td><%= cuisine.name %></td>
     <td><%= cuisine.restaurant_id %></td>
     <td>
    <%= link_to "add items",'#', class: "btn btn-primary" %> </td>
     
           
    </tr>
    <% end %>
  </tbody>
</table>


<%#= will_paginate %>



