<% if user_signed_in? %>

<h3> List of Cuisines </h3>
<table class="table">
 <thead> 
  <tr>
   <th>Name </th>
   <th>Restaurant_ID</th>
   <th>Actions</th>
  </tr>
</thead>
<tbody>
 <% @cuisine.each do |cuis| %>
  <tr> 
   <td><%= cuis.name %></td>
   <td><%= cuis.restaurant_id %></td>
  <td>
   <% if current_user.admin? %>
      <td><%= link_to "create cuisine", new_restaurant_cuisine_path , class: "btn btn-primary" %></td>
      <%#= link_to "", "" , class: "btn btn-primary" %> 
      <%#= link_to "Edit", edit_restaurant_cuisine_path , class: "btn btn-primary" %>
      <%#= link_to "Delete", restaurant_cuisine_path , method: :delete , class: "btn btn-primary" %>   
    <% else %>
      <%= link_to "show food items", "fooditems/index" , class: "btn btn-primary" %>
    <% end %>
  </td>
 </tr>
<% end %>
</tbody>
</table>
<%end%>