
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Restaurant ID</th>
      <th>Actions</th>
    </tr>
    <% @cuisine.each do |cuis| %>
    <tr>
     <td><%= cuis.name %></td>
     <td><%= cuis.restaurant_id %></td>
     <td>
      <%= link_to "create cuisine", new_restaurant_cuisine_path , class: "btn btn-primary" %>
      <%= link_to "", "" , class: "btn btn-primary" %></td> 
      <%#= link_to "Edit", edit_restaurant_cuisine_path , class: "btn btn-primary" %>
      <%#= link_to "Delete", restaurant_cuisine_path , method: :delete , class: "btn btn-primary" %>   
      </tr> 
    <% end %>
  </tbody>
</table>

<%#= will_paginate %>



