  <%= form_with  model: @cuisine  do |f| %>
  <div class="container">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name ,class:"form-group"%>
    </div>
    <%= f.submit "Add Cuisine" %>
  </div>
<% end %>
