<div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Welcome to food app</h5>
    <p class="card-text">please sign in to view our food.</p>

   <%= link_to "sign up", cancel_user_registration_path, class:"btn btn-primary btn-lg"%>
  </div>
</div>