<table class="table ">
  <thead>
    <tr>
      <th scope="col">restaurant Id</th>
      <th scope="col">restaurant Name</th>
      <th scope="col">Location</th>
     
    
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @restaurants.each do |restro| %>
     <td><%= restro.id  %></td>
      <td><%= restro.name  %></td>
      <td><%= restro.city.name %></td>
       <td><%= link_to "Open restaurant","#", class:"btn btn-primary" %></td>
     
    </tr>
    <%end%>
  </tbody>
</table>