<h3> All Order </h3>
<table class="table">
 <thead> 
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
 </thead>
 <tbody>
  <% @orders.each do |form| %>
   <tr> 
    <td><%= form.address %></td>
    <td><%= form.city %></td>
    <td><%= form.state %></td>
    <td><%= form.price%></td>
   </tr>
<% end %>
</tbody>
</table>


