 <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-3">
<div class="footer">
         
    
  <!-- Footer -->
  <footer
        class="text-center text-lg-start text-white"
        style="background-color: #000000"
        >
    
  <!-- Grid container -->
    <div class="container p-4 pb-0">
  <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
               Food Circle Application
            </h6>
            <p>
             The Food Circle app is a web application designed to facilitate food ordering and management between users and restaurants.
            </p>
          </div>
          
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Technology</h6>
            <p>
              <a class="text-white">Ruby on Rails</a>
            </p>
            <p>
              <a class="text-white">Python</a>
            </p>
            <p>
              <a class="text-white">Java</a>
            </p>
            <p>
              <a class="text-white">React JS/Native</a>
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Indore, MP</p>
            <p><i class="fas fa-envelope mr-3"></i> rajrestaurant@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 8871773193</p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f">facebook</i
              ></a>
            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter">twitter</i
              ></a>
            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google">google</i
              ></a>
            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="fab fa-instagram">instagram</i
              ></a>
            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="fab fa-linkedin-in">linkedin</i></a>
            <!-- Github -->
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © Design by:
      <a class="text-white" href="https://mdbootstrap.com/"
         >Raj Kushwah</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </div>
<!-- End of .container -->
</div>