<div class="p-3 mb-2 bg-secondary text-white">Our restaurant serves delicious cuisine from all around the world, including:</div>

<%# <p>Our restaurant serves delicious cuisine from all around the world, including:</p> %>
<%# <ul>
  <li>North Indian</li>
  <li>South Indian</li>
  <li>Italian</li>
  <li>+ more</li>
</ul>
<p> Don't miss out on our wide range of mouth-watering dishes!</p> %>
<%= render "home/cuisine" %>