<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=  @restaurant.name %></td>
                <td><%= @restaurant.description %></td>
                <td><%= @restaurant.address %></td>
            </tr>
        </tbody>
    </table>
</div>